<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" >
  <test name="p1 Test">
  <groups>
     <run>
     <include name="p1"/>
     </run>
     </groups>
    <classes>
      <class name="TestNg_Concepts.TestNg_Batches_Groups"/>
    </classes>
  </test> <!-- Test -->
  <test name="p2 test">
  <groups>
  <run>
  <include name="p2"/>
  </run>
  </groups>
  <classes>
  <class name="TestNg_Concepts.TestNg_Batches_Groups"/>
  </classes>
  

  </test>
</suite> <!-- Suite -->
